.container {
  display: flex;
  flex-direction: column;
  width: 15em;
  margin: 2em;
  background-color: rgb(221, 161, 48);
}

.inputTask {
  height: 2em;
  text-align: center;
  margin: 1em 1em 1em 1em;
  background-color: navajowhite;
}

.boton {
  height: 2em;
  width: 5em;
  background-color: rgb(86, 204, 7);
  border-radius: 1em;
  margin: 0em 1em 1em 6.5em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.boton:hover {
  background-color: blanchedalmond;
  transform: scale(1.125);
}

.lista {
  text-align: left;
  margin: 1em;
}
